@media (min-width:375px) {
    .card {
        transition: var(--transition);
    }
    
    .card:hover {
        transition: var(--transition);
        box-shadow: 1rem 1rem 0 var(--color-gray-950);
    }
    
    .card:hover .card__content > h2 {
        transition: var(--transition);
        color: var(--color-yellow);
    }
    
    .card__content > h2 {
        cursor: pointer;
        transition: var(--transition);
    }
}
